/*
!/.gitignore
!/README.md
!/docs
!/data
!/software
!/salome915-docker

# salome915-docker/: exclude the large SALOME binary archive (download separately, see docs)
/salome915-docker/dist/*.tar.gz
/docs/*
!/docs/index.html
!/docs/Track3
/docs/Track3/*
!/docs/Track3/*.html
!/docs/Track3/*.css
!/docs/Track3/reveal.js
!/docs/Track3/img
/docs/Track3/img/*.pdf
/docs/Track3/img/*.svg
/docs/Track3/img/**/*.pdf

# data/: exclude computed results, keep case setup
data/**/log.*
data/**/postProcessing/
data/**/dynamicCode/
data/**/ani/
data/**/VTK/
/data/003_heatsink/run001_of2512/2/
/data/003_heatsink/run001_of2512/4/
/data/003_heatsink/run001_of2512/6/
/data/003_heatsink/run001_of2512/8/
/data/003_heatsink/run001_of2512/10/
/data/003_heatsink/run001_of2512/12/
/data/003_heatsink/run001_of2512/14/
/data/003_heatsink/run001_of2512/16/
/data/003_heatsink/run001_of2512/18/
/data/003_heatsink/run001_of2512/20/
/data/003_heatsink/run001_of2512/22/
/data/003_heatsink/run001_of2512/24/
/data/003_heatsink/run001_of2512/26/
/data/003_heatsink/run001_of2512/28/
/data/003_heatsink/run001_of2512/30/
/data/003_heatsink/run001_of2512/32/
/data/003_heatsink/run001_of2512/34/
/data/003_heatsink/run001_of2512/36/
/data/003_heatsink/run001_of2512/38/
/data/003_heatsink/run001_of2512/40/
/data/003_heatsink/run001_of2512/42/
/data/003_heatsink/run001_of2512/44/
/data/003_heatsink/run001_of2512/46/
/data/003_heatsink/run001_of2512/48/
/data/003_heatsink/run001_of2512/50/
/data/003_heatsink/run001_of2512/52/
/data/003_heatsink/run001_of2512/54/
/data/003_heatsink/run001_of2512/56/
/data/003_heatsink/run001_of2512/58/
/data/003_heatsink/run001_of2512/60/
/data/001_box/run001_of13/90/
/data/002_Stirrer/sample/mesh/master_curve_of13/0.1/
/data/002_Stirrer/sample/mesh/master_curve_of13/0.2/
/data/002_Stirrer/sample/mesh/master_curve_of13/0.3/
/data/002_Stirrer/sample/mesh/master_curve_of13/0.4/
/data/002_Stirrer/sample/mesh/master_curve_of13/0.5/
/data/002_Stirrer/sample/mesh/master_curve_of13/0.6/
/data/002_Stirrer/sample/mesh/master_curve_of13/0.7/
/data/002_Stirrer/sample/mesh/master_curve_of13/0.8/
/data/002_Stirrer/sample/mesh/master_curve_of13/0.9/
/data/002_Stirrer/sample/mesh/master_curve_of13/1/
/data/002_Stirrer/sample/mesh/master_curve_of2512/0.1/
/data/002_Stirrer/sample/mesh/master_curve_of2512/0.2/
/data/002_Stirrer/sample/mesh/master_curve_of2512/0.3/
/data/002_Stirrer/sample/mesh/master_curve_of2512/0.4/
/data/002_Stirrer/sample/mesh/master_curve_of2512/0.5/
/data/002_Stirrer/sample/mesh/master_curve_of2512/0.6/
/data/002_Stirrer/sample/mesh/master_curve_of2512/0.7/
/data/002_Stirrer/sample/mesh/master_curve_of2512/0.8/
/data/002_Stirrer/sample/mesh/master_curve_of2512/0.9/
/data/002_Stirrer/sample/mesh/master_curve_of2512/1/
